.filter_text_button {
    border: none;
    outline: none;
    background-color: var(--color-background);
    color: var(--color-accent);
    width: 127px;
    height: 31px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.25);
    font-size: var(--typography-fieldtext);
    line-height: var(--typography-fieldtext-line-height);
    font-weight: var(--typography-heading-weight);
    cursor: pointer;
}

.filter_text_button.filter_button--color-active {
    background-color: var(--color-active-button);
    border: 2px solid var(--color-darkstroke);
}

